.movieCovers {
    float: left;
    width: 15%;
    margin-left: 4%;
    margin-bottom: 5%;

    @include respond(phone) {
        width: 87%;
        margin: 7%;
    }

    @include respond(tab-port) {
        width: 87%;
        margin: 7%;
    }
}

.movieInfo {
    float: left;
}