.movieCovers {
    float: left;
    width: 15%;
    margin-left: 4%;
    margin-bottom: 5%;
    @include respond(phone) {
        width: 90%;
        margin: 5%;
    }
    @include respond(tab-port) {
        width: 39%;
        margin: 5%;
    }
}