.movieCovers {
    float: left;
    width: 40%;
    margin-left: 29%;
    margin-bottom: 5%;

    @include respond(phone) {
        width: 87%;
        margin: 7%;
    }

    @include respond(tab-port) {
        width: 87%;
        margin: 7%;
    }
}

.movieInfo {
    float: left;
}